{% extends "base.html" %}
{% block content %}

<style>

.table {
text-align: center;
display: flex;
justify-content: center;
width: 50%;
margin-left: auto;
margin-right: auto;
}
@media only screen and (max-width: 1000px) {
    .table {
        text-align: center;
        display: flex;
        justify-content: flex-start;
    }
}
.title {
  text-align: center;
}

html, body {
        width: 100%;
}
</style>

<div class="alert alert-danger" role="alert">
  Not enough hikes to recommend. Please reduce number of recommendations or loosen the search.
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <form action = "/submit">
        <button type = submit class="btn btn-danger btn-lg" id="singlebutton"> Back to Hike Input </button>
      </form>
    </div>
  </div>
</div>



{% endblock %}
